/* added this comment for the quiz */
.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .container {
    height: 90vh;
  }
  
  li:hover {
    cursor: pointer;
  }
  
  /* the ul tag does not have a list-style-type */
  ul{ list-style-type: none; }